---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=weather_key&q=London
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/24/2023 20:39:51'
      Cdn-Edgestorageid:
      - '985'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 55823aaaa750ed5c29fe8e35478e4787
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"London","region":"City of London, Greater London","country":"United
        Kingdom","lat":51.52,"lon":-0.11,"tz_id":"Europe/London","localtime_epoch":1695587945,"localtime":"2023-09-24
        21:39"},"current":{"last_updated_epoch":1695587400,"last_updated":"2023-09-24
        21:30","temp_c":16.0,"temp_f":60.8,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":170,"wind_dir":"S","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"humidity":77,"cloud":0,"feelslike_c":16.0,"feelslike_f":60.8,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":22.8,"gust_kph":36.8},"forecast":{"forecastday":[{"date":"2023-09-24","date_epoch":1695513600,"day":{"maxtemp_c":19.9,"maxtemp_f":67.9,"mintemp_c":13.9,"mintemp_f":57.0,"avgtemp_c":17.0,"avgtemp_f":62.6,"maxwind_mph":15.0,"maxwind_kph":24.1,"totalprecip_mm":0.01,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":67.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/119.png","code":1006},"uv":4.0},"astro":{"sunrise":"06:49
        AM","sunset":"06:55 PM","moonrise":"05:16 PM","moonset":"No moonset","moon_phase":"Waxing
        Gibbous","moon_illumination":"63","is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1695510000,"time":"2023-09-24
        00:00","temp_c":13.9,"temp_f":57.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.9,"wind_kph":14.4,"wind_degree":188,"wind_dir":"S","pressure_mb":1019.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"humidity":64,"cloud":22,"feelslike_c":12.8,"feelslike_f":55.0,"windchill_c":12.8,"windchill_f":55.0,"heatindex_c":13.9,"heatindex_f":57.0,"dewpoint_c":7.2,"dewpoint_f":44.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":14.2,"gust_kph":22.9,"uv":1.0},{"time_epoch":1695513600,"time":"2023-09-24
        01:00","temp_c":14.1,"temp_f":57.3,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":9.6,"wind_kph":15.5,"wind_degree":188,"wind_dir":"S","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"humidity":63,"cloud":41,"feelslike_c":12.9,"feelslike_f":55.2,"windchill_c"[...]
[...]
